<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Capstone Project - TODOs List</title>
</head>
<body>
  <main>
    <h1>TODOs LIST</h1>
    <% if (locals.notes) {%>
      <% notes.forEach(note => {%>
        <div>
          <input type="checkbox" class="note">
          <span><%= note %></span>
        </div>
      <% }) %>
    <% } %>
    <form action="/work" method="post">
      <input type="text" id="iNote" name="inputNote">
      <button type="button">OK</button>
    </form>
  </main>
</body>
</html>
